/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
2. [UnoCSS]: allow to override the default border color with css var `--un-default-border-color`
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: var(--un-default-border-color, #e5e7eb); /* 2 */
}

::before,
::after {
  --un-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS.
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Make elements with the HTML hidden attribute stay hidden by default.
*/

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

/* layer: default */
.visible{visibility:visible;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.sticky{position:sticky;}
.-right-2{right:-0.5rem;}
.-top-2{top:-0.5rem;}
.bottom-0{bottom:0;}
.bottom-4{bottom:1rem;}
.left-0{left:0;}
.left-1\/2{left:50%;}
.left-2{left:0.5rem;}
.right-0{right:0;}
.right-2{right:0.5rem;}
.right-3{right:0.75rem;}
.right-4{right:1rem;}
.top-0{top:0;}
.top-2{top:0.5rem;}
.top-3{top:0.75rem;}
.line-clamp-2{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;line-clamp:2;}
.z-10{z-index:10;}
.z-30{z-index:30;}
.z-40{z-index:40;}
.z-50{z-index:50;}
.grid{display:grid;}
.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr));}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.mx-4{margin-left:1rem;margin-right:1rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.-ml-2{margin-left:-0.5rem;}
.-mt-6{margin-top:-1.5rem;}
.mb-0\.5{margin-bottom:0.125rem;}
.mb-1{margin-bottom:0.25rem;}
.mb-2{margin-bottom:0.5rem;}
.mb-3{margin-bottom:0.75rem;}
.mb-4{margin-bottom:1rem;}
.mb-5{margin-bottom:1.25rem;}
.mb-6{margin-bottom:1.5rem;}
.mb-8{margin-bottom:2rem;}
.ml-1{margin-left:0.25rem;}
.mr-1{margin-right:0.25rem;}
.mr-2{margin-right:0.5rem;}
.mt-1{margin-top:0.25rem;}
.mt-2{margin-top:0.5rem;}
.mt-3{margin-top:0.75rem;}
.mt-4{margin-top:1rem;}
.mt-6{margin-top:1.5rem;}
.block{display:block;}
.hidden{display:none;}
.h-\[112px\]{height:112px;}
.h-1{height:0.25rem;}
.h-10{height:2.5rem;}
.h-14{height:3.5rem;}
.h-16{height:4rem;}
.h-2{height:0.5rem;}
.h-20{height:5rem;}
.h-32{height:8rem;}
.h-4{height:1rem;}
.h-40{height:10rem;}
.h-44{height:11rem;}
.h-48{height:12rem;}
.h-5{height:1.25rem;}
.h-52{height:13rem;}
.h-56{height:14rem;}
.h-6{height:1.5rem;}
.h-64{height:16rem;}
.h-7{height:1.75rem;}
.h-9{height:2.25rem;}
.h-96{height:24rem;}
.h-full{height:100%;}
.h-screen{height:100vh;}
.max-w-7xl{max-width:80rem;}
.min-h-screen{min-height:100vh;}
.min-w-0{min-width:0;}
.min-w-full{min-width:100%;}
.w-\[112px\]{width:112px;}
.w-1{width:0.25rem;}
.w-10{width:2.5rem;}
.w-14{width:3.5rem;}
.w-16{width:4rem;}
.w-2{width:0.5rem;}
.w-20{width:5rem;}
.w-4{width:1rem;}
.w-5{width:1.25rem;}
.w-6{width:1.5rem;}
.w-7{width:1.75rem;}
.w-8{width:2rem;}
.w-9{width:2.25rem;}
.w-full{width:100%;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-1{flex:1 1 0%;}
.flex-shrink{flex-shrink:1;}
.flex-shrink-0,
.shrink-0{flex-shrink:0;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.-translate-x-1\/2{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.cursor-pointer{cursor:pointer;}
.resize-none{resize:none;}
.snap-x{scroll-snap-type:x var(--un-scroll-snap-strictness);}
.snap-mandatory{--un-scroll-snap-strictness:mandatory;}
.snap-center{scroll-snap-align:center;}
.columns-2{columns:2;}
.break-inside-avoid{break-inside:avoid;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.items-baseline{align-items:baseline;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.justify-around{justify-content:space-around;}
.gap-0\.5{gap:0.125rem;}
.gap-1{gap:0.25rem;}
.gap-12{gap:3rem;}
.gap-2{gap:0.5rem;}
.gap-3{gap:0.75rem;}
.gap-4{gap:1rem;}
.gap-5{gap:1.25rem;}
.gap-6{gap:1.5rem;}
.space-y-0>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0px * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0px * var(--un-space-y-reverse));}
.space-y-2>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.5rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.5rem * var(--un-space-y-reverse));}
.space-y-3>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.75rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.75rem * var(--un-space-y-reverse));}
.divide-y>:not([hidden])~:not([hidden]){--un-divide-y-reverse:0;border-top-width:calc(1px * calc(1 - var(--un-divide-y-reverse)));border-bottom-width:calc(1px * var(--un-divide-y-reverse));}
.divide-\[\#F5F3F0\]>:not([hidden])~:not([hidden]){--un-divide-opacity:1;border-color:rgb(245 243 240 / var(--un-divide-opacity)) /* #F5F3F0 */;}
.divide-\[\#FAF0E6\]>:not([hidden])~:not([hidden]){--un-divide-opacity:1;border-color:rgb(250 240 230 / var(--un-divide-opacity)) /* #FAF0E6 */;}
.overflow-hidden{overflow:hidden;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-auto{overflow-y:auto;}
.scroll-smooth{scroll-behavior:smooth;}
.truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.whitespace-nowrap{white-space:nowrap;}
.border{border-width:1px;}
.border-2{border-width:2px;}
.border-b{border-bottom-width:1px;}
.border-b-2{border-bottom-width:2px;}
.border-r{border-right-width:1px;}
.border-t{border-top-width:1px;}
.border-t-2{border-top-width:2px;}
.border-\[\#351D14\]{--un-border-opacity:1;border-color:rgb(53 29 20 / var(--un-border-opacity));}
.border-\[\#857C72\]{--un-border-opacity:1;border-color:rgb(133 124 114 / var(--un-border-opacity));}
.border-\[\#876635\]{--un-border-opacity:1;border-color:rgb(135 102 53 / var(--un-border-opacity));}
.border-\[\#8B6F47\]{--un-border-opacity:1;border-color:rgb(139 111 71 / var(--un-border-opacity));}
.border-\[\#C9A882\]{--un-border-opacity:1;border-color:rgb(201 168 130 / var(--un-border-opacity));}
.border-\[\#D1D1CC\]{--un-border-opacity:1;border-color:rgb(209 209 204 / var(--un-border-opacity));}
.border-\[\#D2691E\]{--un-border-opacity:1;border-color:rgb(210 105 30 / var(--un-border-opacity));}
.border-\[\#d4c4b0\]{--un-border-opacity:1;border-color:rgb(212 196 176 / var(--un-border-opacity));}
.border-\[\#e5e5e5\]{--un-border-opacity:1;border-color:rgb(229 229 229 / var(--un-border-opacity));}
.border-\[\#E8D5C4\]{--un-border-opacity:1;border-color:rgb(232 213 196 / var(--un-border-opacity));}
.border-\[\#E8E5E0\]{--un-border-opacity:1;border-color:rgb(232 229 224 / var(--un-border-opacity));}
.border-\[\#F5EDE5\]{--un-border-opacity:1;border-color:rgb(245 237 229 / var(--un-border-opacity));}
.border-\[\#F5F3F0\]{--un-border-opacity:1;border-color:rgb(245 243 240 / var(--un-border-opacity));}
.border-\[\#FAF0E6\]{--un-border-opacity:1;border-color:rgb(250 240 230 / var(--un-border-opacity));}
.border-gray-100{--un-border-opacity:1;border-color:rgb(243 244 246 / var(--un-border-opacity));}
.border-gray-200{--un-border-opacity:1;border-color:rgb(229 231 235 / var(--un-border-opacity));}
.border-transparent{border-color:transparent;}
.border-white{--un-border-opacity:1;border-color:rgb(255 255 255 / var(--un-border-opacity));}
.rounded{border-radius:0.25rem;}
.rounded-2xl{border-radius:1rem;}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:0.5rem;}
.rounded-md{border-radius:0.375rem;}
.rounded-xl{border-radius:0.75rem;}
.border-dashed{border-style:dashed;}
.bg-\[\#351D14\]{--un-bg-opacity:1;background-color:rgb(53 29 20 / var(--un-bg-opacity)) /* #351D14 */;}
.bg-\[\#6B4423\]{--un-bg-opacity:1;background-color:rgb(107 68 35 / var(--un-bg-opacity)) /* #6B4423 */;}
.bg-\[\#857C72\]{--un-bg-opacity:1;background-color:rgb(133 124 114 / var(--un-bg-opacity)) /* #857C72 */;}
.bg-\[\#8B6F47\]{--un-bg-opacity:1;background-color:rgb(139 111 71 / var(--un-bg-opacity)) /* #8B6F47 */;}
.bg-\[\#C9A882\]{--un-bg-opacity:1;background-color:rgb(201 168 130 / var(--un-bg-opacity)) /* #C9A882 */;}
.bg-\[\#D1D1CC\]{--un-bg-opacity:1;background-color:rgb(209 209 204 / var(--un-bg-opacity)) /* #D1D1CC */;}
.bg-\[\#E8D5C4\]{--un-bg-opacity:1;background-color:rgb(232 213 196 / var(--un-bg-opacity)) /* #E8D5C4 */;}
.bg-\[\#F5F3F0\]{--un-bg-opacity:1;background-color:rgb(245 243 240 / var(--un-bg-opacity)) /* #F5F3F0 */;}
.bg-\[\#FAF0E6\]{--un-bg-opacity:1;background-color:rgb(250 240 230 / var(--un-bg-opacity)) /* #FAF0E6 */;}
.bg-\[\#faf8f4\]{--un-bg-opacity:1;background-color:rgb(250 248 244 / var(--un-bg-opacity)) /* #faf8f4 */;}
.bg-\[\#FAFAF8\]{--un-bg-opacity:1;background-color:rgb(250 250 248 / var(--un-bg-opacity)) /* #FAFAF8 */;}
.bg-\[\#FDF8F3\]{--un-bg-opacity:1;background-color:rgb(253 248 243 / var(--un-bg-opacity)) /* #FDF8F3 */;}
.bg-\[\#FFFBF5\]{--un-bg-opacity:1;background-color:rgb(255 251 245 / var(--un-bg-opacity)) /* #FFFBF5 */;}
.bg-black{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity)) /* #000 */;}
.bg-transparent{background-color:transparent /* transparent */;}
.bg-white{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #fff */;}
.bg-white\/50{background-color:rgb(255 255 255 / 0.5) /* #fff */;}
.bg-white\/95{background-color:rgb(255 255 255 / 0.95) /* #fff */;}
.active\:bg-\[\#F5F3F0\]:active{--un-bg-opacity:1;background-color:rgb(245 243 240 / var(--un-bg-opacity)) /* #F5F3F0 */;}
.active\:bg-\[\#FAF0E6\]:active{--un-bg-opacity:1;background-color:rgb(250 240 230 / var(--un-bg-opacity)) /* #FAF0E6 */;}
.object-cover{object-fit:cover;}
.object-contain{object-fit:contain;}
.p-2{padding:0.5rem;}
.p-2\.5{padding:0.625rem;}
.p-3{padding:0.75rem;}
.p-4{padding:1rem;}
.p-8{padding:2rem;}
.px-1{padding-left:0.25rem;padding-right:0.25rem;}
.px-1\.5{padding-left:0.375rem;padding-right:0.375rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.px-3{padding-left:0.75rem;padding-right:0.75rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.px-6{padding-left:1.5rem;padding-right:1.5rem;}
.py-0\.5{padding-top:0.125rem;padding-bottom:0.125rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.py-1\.5{padding-top:0.375rem;padding-bottom:0.375rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.py-3{padding-top:0.75rem;padding-bottom:0.75rem;}
.py-3\.5{padding-top:0.875rem;padding-bottom:0.875rem;}
.py-4{padding-top:1rem;padding-bottom:1rem;}
.py-6{padding-top:1.5rem;padding-bottom:1.5rem;}
.pb-1{padding-bottom:0.25rem;}
.pb-2{padding-bottom:0.5rem;}
.pb-20{padding-bottom:5rem;}
.pb-24{padding-bottom:6rem;}
.pb-32{padding-bottom:8rem;}
.pb-4{padding-bottom:1rem;}
.pb-52{padding-bottom:13rem;}
.pb-6{padding-bottom:1.5rem;}
.pb-8{padding-bottom:2rem;}
.pt-12{padding-top:3rem;}
.pt-2{padding-top:0.5rem;}
.pt-3{padding-top:0.75rem;}
.pt-4{padding-top:1rem;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-\[10px\]{font-size:10px;}
.text-\[11px\]{font-size:11px;}
.text-\[15px\]{font-size:15px;}
.text-\[8px\]{font-size:8px;}
.text-\[9px\]{font-size:9px;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-base{font-size:1rem;line-height:1.5rem;}
.text-lg{font-size:1.125rem;line-height:1.75rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.text-\[\#2D1C13\]{--un-text-opacity:1;color:rgb(45 28 19 / var(--un-text-opacity)) /* #2D1C13 */;}
.text-\[\#2d2d2d\]{--un-text-opacity:1;color:rgb(45 45 45 / var(--un-text-opacity)) /* #2d2d2d */;}
.text-\[\#351D14\]{--un-text-opacity:1;color:rgb(53 29 20 / var(--un-text-opacity)) /* #351D14 */;}
.text-\[\#5C4033\]{--un-text-opacity:1;color:rgb(92 64 51 / var(--un-text-opacity)) /* #5C4033 */;}
.text-\[\#6b5d4f\]{--un-text-opacity:1;color:rgb(107 93 79 / var(--un-text-opacity)) /* #6b5d4f */;}
.text-\[\#857C72\]{--un-text-opacity:1;color:rgb(133 124 114 / var(--un-text-opacity)) /* #857C72 */;}
.text-\[\#876635\]{--un-text-opacity:1;color:rgb(135 102 53 / var(--un-text-opacity)) /* #876635 */;}
.text-\[\#8B6F47\]{--un-text-opacity:1;color:rgb(139 111 71 / var(--un-text-opacity)) /* #8B6F47 */;}
.text-\[\#C9A882\]{--un-text-opacity:1;color:rgb(201 168 130 / var(--un-text-opacity)) /* #C9A882 */;}
.text-\[\#D2691E\]{--un-text-opacity:1;color:rgb(210 105 30 / var(--un-text-opacity)) /* #D2691E */;}
.text-gray-500{--un-text-opacity:1;color:rgb(107 114 128 / var(--un-text-opacity)) /* #6b7280 */;}
.text-gray-900{--un-text-opacity:1;color:rgb(17 24 39 / var(--un-text-opacity)) /* #111827 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.text-white\/80{color:rgb(255 255 255 / 0.8) /* #fff */;}
.text-yellow-400{--un-text-opacity:1;color:rgb(250 204 21 / var(--un-text-opacity)) /* #facc15 */;}
.text-inherit{color:inherit;}
.font-bold{font-weight:700;}
.font-light{font-weight:300;}
.font-medium{font-weight:500;}
.font-normal{font-weight:400;}
.font-semibold{font-weight:600;}
.leading-none{line-height:1;}
.leading-relaxed{line-height:1.625;}
.leading-snug{line-height:1.375;}
.tracking-wide{letter-spacing:0.025em;}
.tracking-wider{letter-spacing:0.05em;}
.uppercase{text-transform:uppercase;}
.line-through{text-decoration-line:line-through;}
.underline{text-decoration-line:underline;}
.no-underline{text-decoration:none;}
.opacity-60{opacity:0.6;}
.opacity-70{opacity:0.7;}
.opacity-90{opacity:0.9;}
.active\:opacity-70:active{opacity:0.7;}
.active\:opacity-80:active{opacity:0.8;}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-sm{--un-shadow:var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, rgb(0 0 0 / 0.05));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.outline-none{outline:2px solid transparent;outline-offset:2px;}
.backdrop-blur-sm{--un-backdrop-blur:blur(4px);-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);}
.filter{filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.ease{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.placeholder-\[\#857C72\]::placeholder{--un-placeholder-opacity:1;color:rgb(133 124 114 / var(--un-placeholder-opacity)) /* #857C72 */;}
.placeholder-\[\#999\]::placeholder{--un-placeholder-opacity:1;color:rgb(153 153 153 / var(--un-placeholder-opacity)) /* #999 */;}
.placeholder-\[\#C9A882\]::placeholder{--un-placeholder-opacity:1;color:rgb(201 168 130 / var(--un-placeholder-opacity)) /* #C9A882 */;}
@media (min-width: 768px){
.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
}
@media (min-width: 1024px){
.lg\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
}